.add-expense {
  text-align: left;
  margin-left: 5%;
}

.expense-properties {
  margin: 1rem;
}

.input-title {
  margin-left: 4rem;
}

.input-amount {
  margin-left: 2.4rem;
}

.input-notes {
  margin-left: 3.25rem;
}

.input-catagory {
  margin-right: 55%;
  float: right;
  width: 28.5%;
}

.input-submit {
  margin-top: 10%;
  text-align: left;
  margin-left: 8%;
}

.add-input-catagory {
  margin-left: 18.5%;
  margin-top: 1rem;
  width: 25.5%;
}
