.header-label {
}

.child-right-div {
  margin: 1rem;
}

.dropdown {
  margin-left: 2rem;
}

.filter-area {
  margin-top: 7rem;
}

.filter-label {
  float: left;
}

.input-type {
  margin-top: 0.75rem;
  margin-left: 2rem;
}
