.header-label {
}

.child-right-div {
  margin: 1rem;
}

.dropdown {
  margin-left: 15%;
  width: 24%;
}

.filter-area {
  margin-top: 7%;
}

.filter-label {
  float: left;
  width: 15%
}

.input-type {
  margin-top: 0.75rem;
  margin-left: 9.75%;
  width: 23%;
}

.multi-dropdown{
  margin-right: 51%;
  float: right;
  width: 24.75%;
  margin-top: 2.75rem;
}

.dropdown-label{
  float: left;
  margin-left: -15%;
  margin-top: 2.7rem;
}

.input-add-catagory {
  margin-left: 9.75rem;
  margin-top: 1rem;
  width: 9.1rem;
}
.view-expense-button{
  margin-top: 14%;
}

.result-div {
  margin-top: 5%;
  color: red;
}
