.header-label {
}

.child-right-div {
  margin: 1rem;
}

.dropdown {
  margin-left: 2rem;
}

.filter-area {
  margin-top: 7rem;
}

.filter-label {
  float: left;
}

.input-type {
  margin-top: 0.75rem;
  margin-left: 5rem;
}

.multi-dropdown{
  margin-right: 13.8rem;
  float: right;
  width: 42%;
  margin-top: 2.75rem;
}

.dropdown-label{
  float: left;
  margin-left: -5rem;
  margin-top: 2.7rem;
}

.input-add-catagory {
  margin-left: 9.75rem;
  margin-top: 1rem;
  width: 9.1rem;
}
.view-expense-button{
  margin-top: 2rem;
}

.result-div {
  margin-top: 5%;
  color: red;
}
